<h1 class="trans_title">Transactions</h1>
<section class="transactions">
<%= link_to "Add Transaction", new_category_transaction_path(@category) %>
    <div>
      <h2>
        <%= @category.name %>
      </h2>
      <div>
      <p> Total Amount:<%=@category.transactions.sum(:amount) %> $</p>
      <%= button_to "Delete", @category, method: :delete %>
    </div>
    </div>
    <% if @transactions.exists? %>
      <div>
        <% @transactions.each do |transaction| %>
        <div> 
            <%= render transaction %>
          </div>
        <% end %>
      </div>
    <% else %>  
    <% end %>
</div>
<div>
</section>