<%= form_with(model: transaction, url: category_transactions_path(@category)) do |form| %>
    <div>
      <%= form.label :category_id %><br />
      <%= form.collection_select :category_id, current_user.categories, :id, :name, prompt: true, required: true %>
    </div>
  
    <div>
      <%= form.label :name %><br />
      <%= form.text_field :name, required: true %>
    </div>
  
    <div>
      <%= form.label :amount %><br />
      <%= form.number_field :amount, required: true %>
    </div>
  
    <div class='self-center'>
      <%= form.submit :Save %>
    </div>
  <% end %>